<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Leções</mat-toolbar>

    <mat-nav-list>
      @for (lesson of lessons(); track lesson.title; let idx = $index) {
        <a mat-list-item [activated]="mainMenuService.activeLesson().id === lesson.id" href="#" (click)="onSelect(idx)">{{ lesson.title }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>{{mainMenuService.activeLesson().title }}</span>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <ng-container #currentLesson></ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
